
// Ratios
// **************************************
$aspect-ratios: (
  "1x1": 100%,
  "4x3": calc(3 / 4 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "21x9": calc(9 / 21 * 100%)
);

@each $i in $aspect-ratios {

  :global .ratio-#{nth($i, 1)} {
    width: 100%;
    position: relative;

    &::before {
      content: "";
      padding-top: #{nth($i, 2)};
      display: block;
    }
  }
}

@include breakpoint-tablet {
  @each $i in $aspect-ratios {

    :global .tablet-ratio-#{nth($i, 1)} {
      width: 100%;
      position: relative;
  
      &::before {
        content: "";
        padding-top: #{nth($i, 2)};
        display: block;
      }
    }
  }
}

@include breakpoint-phone-xlg {
  @each $i in $aspect-ratios {

    :global .phone-ratio-#{nth($i, 1)} {
      width: 100%;
      position: relative;
  
      &::before {
        content: "";
        padding-top: #{nth($i, 2)};
        display: block;
      }
    }
  }
}
