
// Centering
// **************************************
:global .center-vert {
  @include center-vert;
}

:global .center-horz {
  @include center-horz;
}

:global .center-both {
  @include center-both;
}

@include breakpoint-max(tablet) {
  :global .tablet-center-vert {
    @include center-vert;
  }
  
  :global .tablet-center-horz {
    @include center-horz;
  }
  
  :global .tablet-center-both {
    @include center-both;
  }
}

@include breakpoint-max(phone-xlg) {
  :global .phone-center-vert {
    @include center-vert;
  }
  
  :global .phone-center-horz {
    @include center-horz;
  }
  
  :global .phone-center-both {
    @include center-both;
  }
}


// Clipping
// **************************************
:global .overflow-hidden {
  overflow: hidden !important;
}

:global .overflow-auto {
  overflow: auto !important;
}

:global .overflow-scroll {
  overflow: scroll !important;
}

:global .overflow-horizontal-hidden {
  overflow-x: hidden !important;
}

:global .overflow-horizontal-auto {
  overflow-x: auto !important;
}

:global .overflow-horizontal-scroll {
  overflow-x: scroll !important;
}

:global .overflow-vertical-hidden {
  overflow-y: hidden !important;
}

:global .overflow-vertical-auto {
  overflow-y: auto !important;
}

:global .overflow-vertical-scroll {
  overflow-y: scroll !important;
}

@include breakpoint-max(tablet) {
  :global .tablet-overflow-hidden {
    overflow: hidden !important;
  }
  
  :global .tablet-overflow-auto {
    overflow: auto !important;
  }
  
  :global .tablet-overflow-scroll {
    overflow: scroll !important;
  }
  
  :global .tablet-overflow-horizontal-hidden {
    overflow-x: hidden !important;
  }
  
  :global .tablet-overflow-horizontal-auto {
    overflow-x: auto !important;
  }
  
  :global .tablet-overflow-horizontal-scroll {
    overflow-x: scroll !important;
  }
  
  :global .tablet-overflow-vertical-hidden {
    overflow-y: hidden !important;
  }
  
  :global .tablet-overflow-vertical-auto {
    overflow-y: auto !important;
  }
  
  :global .tablet-overflow-vertical-scroll {
    overflow-y: scroll !important;
  }
}

@include breakpoint-max(phone-xlg) {
  :global .phone-overflow-hidden {
    overflow: hidden !important;
  }
  
  :global .phone-overflow-auto {
    overflow: auto !important;
  }
  
  :global .phone-overflow-scroll {
    overflow: scroll !important;
  }
  
  :global .phone-overflow-horizontal-hidden {
    overflow-x: hidden !important;
  }
  
  :global .phone-overflow-horizontal-auto {
    overflow-x: auto !important;
  }
  
  :global .phone-overflow-horizontal-scroll {
    overflow-x: scroll !important;
  }
  
  :global .phone-overflow-vertical-hidden {
    overflow-y: hidden !important;
  }
  
  :global .phone-overflow-vertical-auto {
    overflow-y: auto !important;
  }
  
  :global .phone-overflow-vertical-scroll {
    overflow-y: scroll !important;
  }
}


// Borders
// **************************************
:global .border {
  border-style: solid !important;
  border-width: 1px !important;
}

:global .border-top {
  border-top-style: solid !important;
  border-top-width: 1px !important;
}

:global .border-bottom {
  border-bottom-style: solid !important;
  border-bottom-width: 1px !important;
}

:global .border-left {
  border-left-style: solid !important;
  border-left-width: 1px !important;
}

:global .border-right {
  border-right-style: solid !important;
  border-right-width: 1px !important;
}

:global .border, :global .border-top, :global .border-bottom, :global .border-left, :global .border-right {
  border-color: $default-border-color !important;
}

@include breakpoint-max(tablet) {
  :global .tablet-border {
    border-style: solid !important;
    border-width: 1px !important;
  }
  
  :global .tablet-border-top {
    border-top-style: solid !important;
    border-top-width: 1px !important;
  }
  
  :global .tablet-border-bottom {
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important;
  }
  
  :global .tablet-border-left {
    border-left-style: solid !important;
    border-left-width: 1px !important;
  }
  
  :global .tablet-border-right {
    border-right-style: solid !important;
    border-right-width: 1px !important;
  }
}

@include breakpoint-max(phone-xlg) {
  :global .phone-border {
    border-style: solid !important;
    border-width: 1px !important;
  }
  
  :global .phone-border-top {
    border-top-style: solid !important;
    border-top-width: 1px !important;
  }
  
  :global .phone-border-bottom {
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important;
  }
  
  :global .phone-border-left {
    border-left-style: solid !important;
    border-left-width: 1px !important;
  }
  
  :global .phone-border-right {
    border-right-style: solid !important;
    border-right-width: 1px !important;
  }
}


// Circles
// **************************************
:global .border-radius-circle {
  border-radius: 50% !important;
}

@include breakpoint-max(tablet) {
  :global .tablet-border-radius-circle {
    border-radius: 50% !important;
  }
}

@include breakpoint-max(phone-xlg) {
  :global .phone-border-radius-circle {
    border-radius: 50% !important;
  }
}


// Display
// **************************************
:global .display-block {
  display: block !important;
}

:global .display-block-inline {
  display: inline-block !important;
}

:global .display-inline {
  display: inline !important;
}

:global .display-none {
  display: none !important;
}

@include breakpoint-max(tablet) {
  :global .tablet-display-block {
    display: block !important;
  }

  :global .tablet-display-block-inline {
    display: inline-block !important;
  }
  
  :global .tablet-display-inline {
    display: inline !important;
  }

  :global .tablet-display-none {
    display: none !important;
  }
}

@include breakpoint-max(phone-xlg) {
  :global .phone-display-block {
    display: block !important;
  }

  :global .phone-display-block-inline {
    display: inline-block !important;
  }
  
  :global .phone-display-inline {
    display: inline !important;
  }

  :global .phone-display-none {
    display: none !important;
  }
}


// Flex
// **************************************
:global .display-flex {
  @include flex;
}

:global .display-flex-inline {
  @include flex-inline;
}

:global .flex-row {
  @include flex-row;
}

:global .flex-row-reverse {
  @include flex-row-reverse;
}

:global .flex-column {
  @include flex-column;
}

:global .flex-column-reverse {
  @include flex-column-reverse;
}

:global .justify-content-center {
  @include justify-content(center);
}

:global .justify-content-space-between {
  @include justify-content(space-between);
}

:global .justify-content-space-around {
  @include justify-content(space-around);
}

:global .justify-content-space-evenly {
  @include justify-content(space-evenly);
}

:global .justify-content-start {
  @include justify-content(start);
}

:global .justify-content-end {
  @include justify-content(end);
}

:global .align-items-start {
  @include align-items(start);
}

:global .align-items-end {
  @include align-items(end);
}

:global .align-items-center {
  @include align-items(center);
}

:global .align-items-baseline {
  @include align-items(baseline);
}

:global .align-items-stretch {
  @include align-items(stretch);
}

:global .align-self-start {
  @include align-self(start);
}

:global .align-self-end {
  @include align-self(end);
}

:global .align-self-center {
  @include align-self(center);
}

:global .align-self-baseline {
  @include align-self(baseline);
}

:global .align-self-stretch {
  @include align-self(stretch);
}

:global .align-content-start {
  @include align-content(start);
}

:global .align-content-end {
  @include align-content(end);
}

:global .align-content-center {
  @include align-content(center);
}

:global .align-content-space-between {
  @include align-content(space-between);
}

:global .align-content-space-around {
  @include align-content(space-around);
}

:global .align-content-space-evenly {
  @include align-content(space-evenly);
}

:global .align-content-stretch {
  @include align-content(stretch);
}

:global .flex-wrap {
  @include flex-wrap;
}

:global .flex-wrap-reverse {
  @include flex-wrap-reverse;
}

:global .flex-no-wrap {
  @include flex-no-wrap;
}

@include breakpoint-max(tablet) {
  :global .tablet-display-flex {
    @include flex;
  }
  
  :global .tablet-display-flex-inline {
    @include flex-inline;
  }
  
  :global .tablet-flex-row {
    @include flex-row;
  }
  
  :global .tablet-flex-row-reverse {
    @include flex-row-reverse;
  }
  
  :global .tablet-flex-column {
    @include flex-column;
  }
  
  :global .tablet-flex-column-reverse {
    @include flex-column-reverse;
  }
  
  :global .tablet-justify-content-center {
    @include justify-content(center);
  }
  
  :global .tablet-justify-content-space-between {
    @include justify-content(space-between);
  }
  
  :global .tablet-justify-content-space-around {
    @include justify-content(space-around);
  }

  :global .tablet-justify-content-space-evenly {
    @include justify-content(space-evenly);
  }
  
  :global .tablet-justify-content-start {
    @include justify-content(start);
  }
  
  :global .tablet-justify-content-end {
    @include justify-content(end);
  }
  
  :global .tablet-align-items-start {
    @include align-items(start);
  }
  
  :global .tablet-align-items-end {
    @include align-items(end);
  }
  
  :global .tablet-align-items-center {
    @include align-items(center);
  }
  
  :global .tablet-align-items-baseline {
    @include align-items(baseline);
  }
  
  :global .tablet-align-items-stretch {
    @include align-items(stretch);
  }
  
  :global .tablet-align-self-start {
    @include align-self(start);
  }
  
  :global .tablet-align-self-end {
    @include align-self(end);
  }
  
  :global .tablet-align-self-center {
    @include align-self(center);
  }
  
  :global .tablet-align-self-baseline {
    @include align-self(baseline);
  }
  
  :global .tablet-align-self-stretch {
    @include align-self(stretch);
  }
  
  :global .tablet-align-content-start {
    @include align-content(start);
  }
  
  :global .tablet-align-content-end {
    @include align-content(end);
  }
  
  :global .tablet-align-content-center {
    @include align-content(center);
  }
  
  :global .tablet-align-content-space-between {
    @include align-content(space-between);
  }
  
  :global .tablet-align-content-space-around {
    @include align-content(space-around);
  }

  :global .tablet-align-content-space-evenly {
    @include align-content(space-evenly);
  }
  
  :global .tablet-align-content-stretch {
    @include align-content(stretch);
  }

  :global .tablet-flex-wrap {
    @include flex-wrap;
  }
  
  :global .tablet-flex-wrap-reverse {
    @include flex-wrap-reverse;
  }
  
  :global .tablet-flex-no-wrap {
    @include flex-no-wrap;
  }
}

@include breakpoint-max(phone-xlg) {
  :global .phone-display-flex {
    @include flex;
  }
  
  :global .phone-display-flex-inline {
    @include flex-inline;
  }
  
  :global .phone-flex-row {
    @include flex-row;
  }
  
  :global .phone-flex-row-reverse {
    @include flex-row-reverse;
  }
  
  :global .phone-flex-column {
    @include flex-column;
  }
  
  :global .phone-flex-column-reverse {
    @include flex-column-reverse;
  }
  
  :global .phone-justify-content-center {
    @include justify-content(center);
  }
  
  :global .phone-justify-content-space-between {
    @include justify-content(space-between);
  }
  
  :global .phone-justify-content-space-around {
    @include justify-content(space-around);
  }

  :global .phone-justify-content-space-evenly {
    @include justify-content(space-evenly);
  }
  
  :global .phone-justify-content-start {
    @include justify-content(start);
  }
  
  :global .phone-justify-content-end {
    @include justify-content(end);
  }
  
  :global .phone-align-items-start {
    @include align-items(start);
  }
  
  :global .phone-align-items-end {
    @include align-items(end);
  }
  
  :global .phone-align-items-center {
    @include align-items(center);
  }
  
  :global .phone-align-items-baseline {
    @include align-items(baseline);
  }
  
  :global .phone-align-items-stretch {
    @include align-items(stretch);
  }
  
  :global .phone-align-self-start {
    @include align-self(start);
  }
  
  :global .phone-align-self-end {
    @include align-self(end);
  }
  
  :global .phone-align-self-center {
    @include align-self(center);
  }
  
  :global .phone-align-self-baseline {
    @include align-self(baseline);
  }
  
  :global .phone-align-self-stretch {
    @include align-self(stretch);
  }
  
  :global .phone-align-content-start {
    @include align-content(start);
  }
  
  :global .phone-align-content-end {
    @include align-content(end);
  }
  
  :global .phone-align-content-center {
    @include align-content(center);
  }
  
  :global .phone-align-content-space-between {
    @include align-content(space-between);
  }
  
  :global .phone-align-content-space-around {
    @include align-content(space-around);
  }

  :global .phone-align-content-space-evenly {
    @include align-content(space-evenly);
  }
  
  :global .phone-align-content-stretch {
    @include align-content(stretch);
  }

  :global .phone-flex-wrap {
    @include flex-wrap;
  }
  
  :global .phone-flex-wrap-reverse {
    @include flex-wrap-reverse;
  }
  
  :global .phone-flex-no-wrap {
    @include flex-no-wrap;
  }
}


// Flex Order
// **************************************
@for $i from 1 through 12 {
  :global .order-#{$i} {
    order: #{$i} !important;
  }
}

@for $i from 1 through 12 {
  @include breakpoint-max(tablet) {
    :global .tablet-order-#{$i} {
      order: #{$i} !important;
    }
  }
}

@for $i from 1 through 12 {
  @include breakpoint-max(phone-xlg) {
    :global .phone-order-#{$i} {
      order: #{$i} !important;
    }
  }
}


// Responsive Helpers
// **************************************
@media (min-width: 992px) {
  :global .desktop-only {
    display: block !important;
  }
  
  :global .mobile-only {
    display: none !important;
  }
}

@media (max-width: 991px) {
  :global .desktop-only {
    display: none !important;
  }

  :global .mobile-only {
    display: block !important;
  }
}


// Media Fill to Container
// **************************************
:global .js-fill-media-to-container {
  opacity: 0;
  transition: opacity 0.4s $easeInOut;

  &.fade-in {
    opacity: 1;
  }
}

:global .fill-vertically {
  height: 101% !important;
  max-height: 101% !important;
  width: auto !important;
  max-width: none !important;
}

:global .fill-horizontally {
  height: auto !important;
  width: 101% !important;
  max-width: 101% !important;
}