
// Z-Index
// **************************************
@for $i from $increment-z-index through $max-z-index {
    @if ($i + $increment-z-index) % $increment-z-index == 0 {
        :global  .z-index-#{$i} {
            z-index: #{$i} !important;
        }
    }
}

@include breakpoint-tablet {
    @for $j from $increment-z-index through $max-z-index {
        @if ($j + $increment-z-index) % $increment-z-index == 0 {
            :global  .tablet-z-index-#{$j} {
                z-index: #{$j} !important;
            }
        }
    }
}

@include breakpoint-phone-xlg {
    @for $h from $increment-z-index through $max-z-index {
        @if ($h + $increment-z-index) % $increment-z-index == 0 {
            :global  .phone-z-index-#{$h} {
                z-index: #{$h} !important;
            }
        }
    }
}